<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.teliinc.myflash_cards"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activties.MainActivity" />
        <activity android:name=".Activties.SettingsActivity" />
        <activity android:name=".Activties.LaunchScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activties.CreateCardActivity"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".Activties.CreateCardActivityAnswer"
            android:theme="@style/AppTheme.popup" />
        <activity android:name=".Activties.BrowseCards" />
        <activity android:name=".Activties.DisplayCardActivity" />
        <activity android:name=".Activties.BrowseTags" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="44ab7c34773fefc3e562cb803f4a1dd092998934" />

        <activity android:name=".Activties.QuizCreateActivity" />
        <activity android:name=".Activties.QuizEditActivity" />
        <activity android:name=".Activties.BrowseQuizzes" />
        <activity android:name=".Activties.QuizMe" />
    </application>

</manifest>
